<div style="text-align:center">
  <!--<h1>Lista de palabras </h1>-->
</div>

<form>
  <mat-form-field>
    <!--<mat-label>Buscar anagrama</mat-label>-->
    <input matInput (keyup)="onSearch($event)">
  </mat-form-field>
</form>

<div cdkDropList class="word-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let word of words" cdkDrag [ngClass]="{'highlighted': anagrams.includes(word.value)}">
    {{word.value}}
    <div>
      <button mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(word)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>