<div class="word-list-title">
  <h1>Lista de palabras </h1>
</div>

<div class="word-list-container">
  <form class="word-list-form">
    <mat-form-field>
      <mat-label>Buscar anagrama</mat-label>
      <input matInput (keyup)="onSearch($event)">
    </mat-form-field>
    <div>
      <mat-form-field>
        <mat-label>Escribe una nueva palabra </mat-label>
        <input matInput [(ngModel)]="newWord" name="insert">
      </mat-form-field>
      <button mat-button color="primary" (click)="onSave()" [disabled]="newWord === null">Guardar</button>
    </div>
  </form>

  <div cdkDropList class="word-list" (cdkDropListDropped)="drop($event)">
    <div class="word-list-box" *ngFor="let word of words" cdkDrag [ngClass]="{'highlighted': anagrams.includes(word.value)}">
      <label *ngIf="word._id?.$oid !== wordEditing?._id?.$oid">{{word.value}} </label>
      <mat-form-field *ngIf="word._id?.$oid === wordEditing?._id?.$oid">
        <input matInput [(ngModel)]="word.value" name="update">
      </mat-form-field>
      <div class="buttons-container">
        <button *ngIf="word._id?.$oid !== wordEditing?._id?.$oid" mat-icon-button (click)="onEdit(word)">
          <mat-icon>edit</mat-icon>
        </button>
        <button *ngIf="word._id?.$oid === wordEditing?._id?.$oid" mat-icon-button (click)="onUpdate(word)">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(word)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>